.part4-div {
  max-width: 400px;
  display: grid;
  grid-template-columns: 2fr 3fr;
  margin: 1rem;
  border-bottom: 1px solid #666;
  padding-bottom: 0.5rem;
}
/* use the intrinsic grid layout to set the dt elements in the first column always, one after the other */
.part4-dt {
  font-weight: bold;
  grid-column-start: 1;
  padding: 0.5rem;
}
/* use the intrinsic grid layout to set the dt elements in the second column always, one after the other. However, the column will start after all DT elements appear on the page */
.part4-dd {
  margin: 0;
  grid-column-start: 2;
  padding: 0.5rem;
}
/* see JS box for :first-of-type explanation 

The first dd element will be placed at the first row. All other dd elements will follow after because of the previous style.

*/
.part4-dd:first-of-type {
  grid-row-start: 1;
}
